<div class="sidebar_container">
	<div class="sidebar">
		<p>Placeholder content</p>
	</div>
</div>
<div id="content">
	<p>
		Welcome to the first iteration of the InvoiceApp. Please feel free to play around
		and create/edit/delete whatever is here. Please keep in mind all of this information
		is public, so do not post anything you don't want bots to be able to pick up.
	</p>
	<p>
		If you do want to play, keep in mind to create an invoice, you must first create
		a customer, a matter, and a biller. Then, once you have created an invoice, click
		on the invoice number to create lines. If you click on the Payment amount, you 
		can also create payments to be applied against the invoice.
	</p>
</div>
