// Place all the styles related to the InvoiceHeaders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.colMatter {
	width: 275px;
}
.colBiller {
	width: 150px;
}
.colDesc {
	width: 200px;
}
.colRate {
	width: 50px;
}
.colQuantity {
	width: 50px;
}
